@tailwind base;
@tailwind components;
@tailwind utilities;

.text-dark{
    @apply text-slate-800
}

/* .coba-shadow{
    box-shadow: -10px -10px 30px white inset,
    -2px -2px 10px 1px white,
    2px 2px 10px 1px #555;
} */

.neumorphism-shadow{
    box-shadow: 
    2px 2px 10px -7px rgba(0,0,0,1),
    -1px -1px 10px -10px white,
    7px 7px 20px -10px rgba(255,255,255,0.5) inset,
    -2px -2px 10px -7px rgba(0,0,0,1) inset
    ;
}

.neumorphism-shadow-sm{
    box-shadow: 
    2px 2px 10px -7px rgba(0,0,0,1),
    -1px -1px 10px -10px white,
    7px 7px 20px -10px rgba(255,255,255,0.5) inset,
    -2px -2px 10px -7px rgba(0,0,0,1) inset
    ;
}

.neumorphism-shadow-sm:hover{
    box-shadow:none;
}

.neumorphism-shadow-sm:active{
     box-shadow: 
    -3px -3px 10px -5px rgba(255,255,255,0.5) inset,
    3px 3px 10px -5px rgba(10,10,10,0.6) inset;
}

.neumorphism-shadow-input-search{
    box-shadow: 
    -3px -3px 10px -5px rgba(255,255,255,0.5) inset,
    3px 3px 10px -5px rgba(10,10,10,0.6) inset;
}